<div class="row">
    <nav class="navbar navbar-expand-lg nav-sub navbar-light d-md-none d-lg-none">
        <div class="nav-wrapper">
            <a class="navbar-brand" href="#">Examples</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="fa fa-angle-down"></span>
  </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="list-group">
            </div>
        </div>
    </nav>
    <div class="col-md-3 left-sidebar d-none d-md-block d-lg-block">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action disabled">Examples</a>
        </div>
    </div>
    <div class="col center-content">
        <router-outlet></router-outlet>
    </div>

</div>